body{
	     background-color:#ff176a;
         text-align:center;
         font-family: sans-serif;
}
h1{
         color:white;
         font-size: 30px;
         padding-top:50px; 
 }        
 h2{     color:yellow;
 	      font-size:25px;
 	     margin-top:-15px;
}


img{
	width: 320px;
	padding-top: 116px;
}
 input{
 	 width: 200px;
 	 height: 35px;
 	 border: none;
 	 font -size: 21px;
 	 text-align: center;
 }


 .button{

      width: 405px;
      background-color: #fcff17;
  }	
